body {
    background-color: rgb(229, 232, 141);
    background-repeat: no-repeat;
    color: black;

}

    main{font-size:large;}


    a:link {
  color: rgb(178, 17, 17);
}

footer {
  
  color: black;
  font-size: 18px;
  font-weight: bold; 
}


    